<!DOCTYPE html>
<html>
    <!--python manage.py collectstatic --noinput --clear to refresh static files-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content='width=device-width, initial-scale=1.0'>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <Title>Datatura</Title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div id="mainbox">
            <div class="row">
                <h1>Welcome to Datatura</h1>
            </div>
            <div class="row">
                <div class="col">
                    <a href="map" class="btn btn-primary">I'm a researcher</a>
                </div>
                <div class="col">
                    <a href="admin_panel" class="btn btn-primary">I'm an admin</a>
                </div>
            </div>
        </div>
        
        {% load static %}
        <link href="{% static "frontend/index.css" %}" rel='stylesheet' />
    </body>
</html>